<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property resource="application.properties"/>
    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.file.pattern}</pattern>
        </encoder>
    </appender>   
    <appender name="RollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.file.path}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.file.backup.log}</fileNamePattern>
            <maxHistory>${log.max.history}</maxHistory>
            <totalSizeCap>${log.max.size}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${log.file.pattern}</pattern>
        </encoder>
    </appender>

    <logger name="com" level="${log.level}" additivity="false">
        <appender-ref ref="RollingFileAppender"/>
        <appender-ref ref="ConsoleAppender"/>
    </logger>
    <root level="${log.root.level}">
        <appender-ref ref="RollingFileAppender"/>
        <appender-ref ref="ConsoleAppender"/>
    </root>
</configuration>